/* Css for Header */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Mono:wght@500&display=swap');
html{
    overflow: hidden;
}
body{
    position: relative;
    overflow-x: hidden;
    
}
*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}
header{
    height: 100vh;
    width: 100vw;
   
}
/*video*/
header .showcase{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.9;
    z-index: -1;
    display: flex;
    justify-content: center;
}
header .showcase video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
   /* transform: translateX(50%);
    transform: translateY(-50%);*/
    overflow: hidden;
    z-index: -1;
    /*position: fixed;*/
}
/* hamburger & logo */
header nav{
    height: 15%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    overflow: hidden;

}
header nav .logo{
    font-size: 2rem;
    margin-top: 0.2rem;
    z-index:3;
    padding-left: 2rem;
    letter-spacing: 0.3rem;
}
header nav .logo p{
    font-size: 0.5rem;
    letter-spacing: 0.08rem;
   /* border-bottom: 2px solid #fff;*/
    word-spacing: 0.1rem;
}
header nav .hamburger{
    
    height: 10vh;
    width:  5%;
    background:transparent;
    z-index: 3;
    margin-top: 0.8rem;

}
header nav .hamburger .hamburger-menu{
    position: relative;
    height: 100%;
    width:  100%;
    opacity: 1;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    right: 4rem;
    z-index: 3;
    transition: all 0.6s ease;

}
header nav .hamburger .line{
    position: relative;
    height: 0.25rem;
    width: 9vh;
    background: #fff;
    margin-top: 0.4rem;
    border-radius: 2px;
    transition: all 0.6s ease;
    
}
header nav .hamburger:hover .line{
    box-shadow: 0px 2px 10px #333;
}

header .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    top: 0%;
    background-color:#333;
    z-index: 1;
    margin-top: 0rem;
    opacity: 0.6;
}
/* tagline f IEEE */
header .tagline{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    /*padding-bottom: 10%;*/
    margin: auto;
    font-size: 1.5rem;
    color: #fff;
    
}
header .tagline h4{
    z-index: 2;
}

/* nav-menu */
#menu{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    background:/* radial-gradient(#fff,#c4eaee)*/ #ebf8f9;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    display: none;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
/* rotating image*/
#rotate{
    height:50vh ;
    width: 50vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}
#rotate #inside{
   
    height: 100%;
    width: 100%;
    animation-name: rotating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

#rotate #inside img{
    width: 100%;
    transition: all 0.3s ease;
}
/* rotating animation */
@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#nav-item{
    position: relative;
    left: 0px;
    animation-duration: 2s;
    font-family:'Josefin Sans', sans-serif;
    text-transform: uppercase;



}
#nav-item ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin:auto;
    color: #004d80;
}
#nav-item ul li{
    list-style: none;
    outline: none;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    
    
}
#nav-item ul li a{
    text-decoration: none;
    color:#004d80 ;
}
#nav-item ul li .fas{
    opacity: 0;
    margin-right: 3rem;
    transition: all 0.4s ease;
}


/* responsiveness check stuff */
@media (max-width:512px){
    header nav .hamburger .hamburger-menu{
        margin-right:1rem;
    }
    header nav .hamburger{
        margin-right: 0.5rem;
    }
     
}

}
@media(max-width: 900px){
    #rotate{
    height:40vh ;
    width: 40vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}
}

@media(max-width: 670px){
    /*#roatate{
        display: none !important;
    }
    #rotate #inside{
        display: none;

        
    }*/
    #rotate{
    height:30vh !important ;
    width: 30vh !important;
    display: flex;
    justify-content:center;
    align-items: center;
    }
    #rotate #inside{
        height: 95%;
        width: 95%;
    }
    #roate #img{
        width: 98%;
    }
    #nav-item ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    #nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        padding-right: 10%;

    }
    #nav-item ul li{
        font-size: 1rem;

    }
}
/* header end (add your css below) */



            /**The lines part**/
.line1{
    position: absolute;
    top: 480px;
    left:200px;
    height:130px;
    width:3px;
    background-color: #f69e7b;
    z-index: 2;
    
}
#line2{
    position:absolute;
    left:200px;
    top:610px; 
    height:90px;
    width:3px;
    background-color: #f69e7b;
    z-index: 1;
   animation: lines 4s ease;
}
@keyframes lines{
    0% {
    height: 0;
}
    100%{
        height:90px;
    }
}

                                /**Entire about section**/
.about{
    top:610px;
    position: absolute;
    width: 100vw;
    height: 920px;
    background-color: #f4f4f4;
}

/**sub parts of about section**/
.part1 .part2 .part3{ 
   
box-sizing: border-box;
height: 500px;
overflow: hidden;
transition: 0.5s;
align-items: center;
display: flex;
width: 100vw;
justify-content: center;

}
.container {
    margin-top: 20px;
  align-items: center;
  display: flex;
  width: 100vw;
  justify-content: center;
   
}
.container2 .container3 {
    margin-top: 20px;
  align-items: center;
  display: flex;
  width: 100vw;
  justify-content: center;
   
}
                                    
             /**For part 1**/


.what{

 position: absolute;
   
    font-family: "Manrope","Arial",sans-serif;
 top:8%;
    left:40%;
    font-weight: 400;
    text-transform: uppercase;
     box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction:row ;
  color: #eee;
  align-items: center;
  height: 200px;
  width: 300px;
  background: #434343;
  transition: 0.8s ;
  
}

.part1:hover >.what{
  background:  #f4f4f4;
  color:  #f69e7b;
   position: absolute;
      transform: translateX(-101%);
    z-index: 1;   
}

.whatp{

        font-family: 'Roboto Mono', monospace;
        color: #5d5b6a;
        font-size: 1.05rem;
        box-sizing: border-box;
        height: 330px;
        width: 650px;
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        text-align: left;
        padding-bottom: : 15px;
        padding-left: 40px;
        padding-top: 12px;
        background:  #f69e7b; 
        opacity: 0;
}
.part1:hover >.whatp{
 opacity: 1;
    transform: translateX(30%);
    transition: 0.8s ;  
}

            /**For part 2**/


.council{
    position: relative;
    float: left;
    font-family: "Manrope","Arial",sans-serif;
    top:20px;
    left:40%;
    font-weight: 400;
    text-transform: uppercase;
 box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction:row ;
  color: #eee;
  align-items: center;
  height: 200px;
  width: 300px;
  background: #434343;
  transition: 0.8s ;
}
.part2:hover >.council{
  background:  #f4f4f4;
  color:  #f69e7b;
   position: relative;
      transform: translateX(-104%);
    z-index: 1;
   
}
.councilp{
   /** position: absolute;**/
    font-family: 'Roboto Mono', monospace;
    top:47%;
    left:40%;
    padding-right:10%;
    color: #5d5b6a; 
    font-size: 1.05rem;
    box-sizing: border-box;
height: 240px;
    width: 650px;
  display: flex;
  flex-direction:row;
justify-content:space-between;
  text-align: left;
  padding-left:50px;
   padding: 40px ;
    padding-top: 30px;
     background:  #f69e7b; 
    opacity: 0;
}
.part2:hover >.councilp{
 opacity: 1;
    transform: translateX(31%);
    transition: 0.8s ;
    font-weight: 100;

}


            /**For part 3**/


.pune{
    position: relative;
    float: left;
    font-family: "Manrope","Arial",sans-serif;
    top:60px;
    left:40%;
    font-weight: 400;
    text-transform: uppercase;
     box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction:row ;
  color: #eee;
  align-items: center;
  height: 200px;
  width: 300px;
  background: #434343;
  transition: 0.8s ;
}
.part3:hover >.pune{
  background:  #f4f4f4;
  color:  #f69e7b;
   position: relative;
      transform: translateX(-104%);
    z-index: 1;
   
}
.punep{
    /**position: absolute;**/
    font-family: 'Roboto Mono', monospace;
    padding-right: 10%;
    color: #5d5b6a;
    font-size: 1.05rem;
    box-sizing: border-box;
height: 240px;
    width: 650px;
  display: flex;
  flex-direction:row;
justify-content:space-between;
  text-align: left;
  padding-left:50px;
   padding: 40px ;
    padding-top: 40px;
     background:  #f69e7b; 
    opacity: 0;
}
.part3:hover >.punep{
 opacity: 1;
    transform: translateX(31%);
    transition: 0.8s ;
    font-weight: 100;
    position: relative;
    top:48px;
}


                                  /* About section end (add your css below) */


